<div class="banner-gifts-list">
    <img src="/img/blue-banner.jpg" alt="banner" id="banner">

    <div>
        <h1 class="title-gifts-list"> GIFT DETAILS</h1>
    </div>

<h1>{{gift.name}}</h1>

<a href="/gifts">Back to gifts list</a>
{{!-- <a href="/">Back Home</a> --}}
{{#if gif.price}}
<p>Price: {{gift.price}}€</p>
{{/if}}
<p>Description: {{gift.Description}}</p>
<img src="{{gift.Picture}}" alt="gift-image">
<p>Buy it: <a href="{{gift.purchaseLink}}" target="blank">{{gift.purchaseLink}}</a></p>
{{!-- <p>This gift is already used in these birthdays:</p>
<p>
    {{#each gift}}
    {{#each this.assignTo}}
    {{this}}
    {{this.friendName}}
    {{/each}}
    {{/each}}
</p> --}}

<form action="/gifts/delete/{{gift.id}}" method="POST">
    <button>DELETE</button>
</form>