<div class="banner-gifts-list">
    <img src="/img/blue-banner.jpg" alt="banner" id="banner">

    <div>
        <h1 class="title-gifts-list"> MY GIFTS LIST</h1>
    </div>
</div>

{{!-- <a href='/gifts/create'>Add gift</a> --}}
{{!-- <a href="/">Home</a> --}}

<div class="welcome-message">

<div class="btn-wrapper" id="btnbirthdaylist">
    <div>
        <a href="/gifts/create"><button class="button">
            <div class="text-btn">Add gift</div>
        </button></a>
    </div>
</div>

<div class="gifts-list-wrapper">
    <div class="gifts-list">

        {{#each dbGifts}}
        <div class="gift-content-container">
            <div>
                <img src="{{this.Picture}}" alt="gift-picture" class="gift-picture">
            </div>
            <div class="text-gift-container">
                <h2 class="gift-title">{{this.name}}</h2>
                <p>{{this.Description}}</p>
                {{#if this.price}}
                <p>Price: {{this.price}}€</p>
                {{/if}}
                {{!-- <p>ASSIGN TO GOES HERE JUANITO</p> --}}
                <div class="update-seedetails-delete">
                    <p><a href='/gifts/details/{{this.id}}'>See details </a></p>
                    <p> |</p>
                    <p><a href="/gifts/update/{{this.id}}">Update </a></p>
                    <p> |</p>
                    <form action="/gifts/delete/{{this.id}}" method="POST">
                        <button class="gift-btn">Delete</button>
                    </form>
                </div>

            </div>
        </div>
        {{/each}}

    </div>
</div>
</div>