<h1> LIST OF AVAILABLE GIFTS</h1>

<a href='/gifts/create'>Create New Gift</a>
<a href="/">Back Home</a>


<div class="gifts-list">

    {{#each dbGifts}}
    <div class="gift-content-container">
        <div>
            <img src="{{this.Picture}}" alt="gift-picture" class="gift-picture">
        </div>
        <div class="text-gift-container">
            <h2 class="gift-title">{{this.name}}</h2>
            <p>{{this.Description}}</p>
            <p>{{this.price}}€</p>
            <p>ASSIGN TO GOES HERE JUANITO</p>
            <div class="update-seedetails-delete">
            <p><a href='/gifts/details/{{this.id}}'> See Gift Details </a></p><p>|</p>
            <p><a href="/gifts/update/{{this.id}}"> Update Gift </a> </p><p>|</p>
            <p><form action="/gifts/delete/{{this.id}}" method="POST">
            <button class="gift-btn">Delete Gift</button>
            </div>
            
        </div>
    </div>
    {{/each}}

</div>
