<div class="banner-gifts-list">
    <img src="/img/blue-banner.jpg" alt="banner" id="banner">

    <div>
        <h1 class="title-gifts-list"> UPDATE YOUR GIFT</h1>
    </div>
</div>
<a href="/gifts">Back to gifts list</a>
{{!-- <a href="/">Home</a> --}}
<hr>

<form action="/gifts/update/{{dbGifts._id}}" method="POST" enctype="multipart/form-data">

    <label for="name">Gift Name</label>
    <input type="text" name="name" id="name" value="{{dbGifts.name}}">


    <br>
    <label for="price">Estimated price</label>
    <input type="number" name="price" id="price" value="{{dbGifts.price}}">


    <br>
    <label for="Description">Gift's Description</label>
    <input type="text" name="Description" id="Description" value="{{dbGifts.Description}}">

    <br>
    <label for="Picture">Picture (optional)</label>
    <input type="file" name="Picture" id="Gift-Picture">

    <br>
    <label for="purchaseLink">purchase Link</label>
    <input type="text" name="purchaseLink" id="purchaseLink" value="{{dbGifts.purchaseLink}}">

    <label for="birthdays">Assign Gift To</label>
<select name="assignTo" id="birthdays" multiple>
    {{#each birthdays}}

    <option value="{{this.id}}"> {{this.friendName}} {{this.friendLastName}}</option>

    {{/each}}


</select>

    <br>
    <button class="gift-create-btn">UPDATE</button>

</form>