<div class="banner-gifts-list">
    <img src="/img/thinner-ban.jpg" alt="banner" id="banner">

    <div>
        <h1 class="title-gifts-list"> {{gift.name}}</h1>
    </div>
    </div>

{{!-- <h1>{{gift.name}}</h1> --}}

<a href="/gifts">Back to gifts list</a>
{{!-- <a href="/">Back Home</a> --}}
 <div class="gift-content-container">
     <div class="bd-details-pic">
<img src="{{gift.Picture}}" alt="gift-image" class="gift-picture">
</div>
<div class="text-gift-container">
{{#if gif.price}}
<p>Price: {{gift.price}}€</p>
{{/if}}
<p>Description: {{gift.Description}}</p>
<p>Buy it: <a href="{{gift.purchaseLink}}" target="blank">{{gift.purchaseLink}}</a></p>
</div>
</div>
<form action="/gifts/delete/{{gift.id}}" method="POST">
    <button>DELETE</button>
</form>