<div class="banner-gifts-list">
    <img src="/img/thinner-ban.jpg" alt="banner" id="banner">

    <div>
        <h1 class="title-gifts-list"> UPDATE YOUR GIFT</h1>
    </div>
</div>

<div class="welcome-message">

{{!-- <a href="/gifts">Back to gifts list</a> --}}
{{!-- <a href="/">Home</a> --}}


<form action="/gifts/update/{{dbGifts._id}}" method="POST" enctype="multipart/form-data">
<h2 class="white-text">Update your gift!</h2>
    <label for="name">Gift Name</label>
    <input type="text" name="name" id="name" value="{{dbGifts.name}}">

    <label for="price">Estimated price</label>
    <input type="number" name="price" id="price" value="{{dbGifts.price}}">

    <label for="Description">Gift's Description</label>
    <input type="text" name="Description" id="Description" value="{{dbGifts.Description}}">

    <label for="Picture">Picture (optional)</label>
    <input type="file" name="Picture" id="Gift-Picture">

    <label for="purchaseLink">purchase Link</label>
    <input type="text" name="purchaseLink" id="purchaseLink" value="{{dbGifts.purchaseLink}}">

    {{!-- <br>
    <label for="birthdays">Assign Gift To</label>
    <select name="assignTo" id="birthdays" multiple>
        {{#each birthdays}}
    
        <option value="{{this.id}}"> {{this.friendName}} {{this.friendLastName}}</option>
    
        {{/each}}
    
    </select> --}}

    <button class="gift-create-btn">UPDATE</button>

</form>

</div>