<h2>Edit this birthday</h2>
<div id="create-birthday-form">
    <form action="/birthday/{{id}}/edit" method="POST" enctype="multipart/form-data">
        <h3>Add a new birthday to your dashboard!</h3>
        <div class="form-div">
            <label for="friendName">Name</label>
            <input name="friendName" id="friendName" type="text" value="{{this.friendName}}">
        </div>
        <div class="form-div">
            <label for="friendLastName">Last name</label>
            <input name="friendLastName" id="friendLastName" type="text" value="{{this.friendLastName}}">
        </div>
        <div id="birthday">
            <p>Birthday date</p>
            <span>
                <label for="day"></label>
                <input name="birthdayDay" type="number" min="1" max="31" value="{{this.birthdayDay}}">
            </span>
            <span>
                <label for="month"></label>
                <input name="birthdayMonth" type="number" min="1" max="12" value="{{this.birthdayMonth}}">
            </span>
            <span>
                <label for="year"></label>
                <input name="birthdayYear" type="number" min="1900" max="2050" value="{{this.birthdayYear}}">
                </select>
            </span>
        </div>
        <div class="form-div">
            <label for="picture">Picture</label>
            <input name="picture" id="picture" type="file">
        </div>
        {{!-- <div>
            <label for="gift">Create a new gift</label>
            <input name="gift" id="gift" type="text" value="{{this.}}">
        </div> --}}
        {{!-- <div>
            <label for="gift">Gift(s)</label>
            <select name="gift" id="gift"></select>
            <option value="-1">Choose a gift</option>
        </div> --}}
        {{!-- <div>
            <label for="existing-gifts">Gift(s)</label>
            {{> gifts_select}}
        </div> --}}
        <button class="button">
            Save this birthday!
        </button>
    </form>
</div>
<div>
    <h5>Create a new gift!</h5>
    <div class="form-div" id="create-gift-form">
        {{> gifts_create}}
    </div>
</div>