<h1><img src="/public/img/blue-banner.jpg" alt="banner-all-birthdays">My birthdays</h1>


<div>
    <ul class="birthdays-list">
        {{#each birthdays}}
        <h5>{{this.friendName}}'s birthday info</h5>
        <li>
            <span>
                <ul>
                    <li>
                        <p>
                            {{!-- <b>Birthday: </b> --}}
                            {{this.birthday}}
                        </p>
                    </li>
                    {{!-- {{#if this.picture}} --}}
                    <li>
                        <p>
                            <b>Picture: </b>
                            <img class="birthday-picture" src="{{this.picture}}" alt="friend ficture">

                        </p>
                    </li>
                    {{!-- {{/if}} --}}
                    
                      {{!-- <li>
                        
                            <b> Gifts: </b>
                            {{#each gifts}}
                            {{#each this}}

                               {{this.name}}<br>
                               {{this.price}}


                            {{/each}}
                            {{/each}}
                        </li> --}}
                    
                </ul>
            </span>
            <form action="/birthday/details/{{this.id}}" method="GET">
                <button>See details</button>
            </form>
        </li>
        {{/each}}
    </ul>
</div>