<div class="banner-gifts-list">
    <img src="/img/blue-banner.jpg" alt="banner" id="banner">

    <div>
        <h1 class="title-gifts-list"> ADD BIRTHDAY</h1>
    </div>
</div>

<div class="welcome-message">
<div id="create-birthday-form">
  <form action="/birthday/create" method="POST" enctype="multipart/form-data">
    <h2 class="white-text">Add new birthday!</h2>
    <div class="form-div">
      <label for="friendName">Name</label>
      <input name="friendName" id="friendName" type="text" placeholder="type something here...">
    </div>
    <div class="form-div">
      <label for="friendLastName">Last name</label>
      <input name="friendLastName" id="friendLastName" type="text" placeholder="type something here...">
    </div>
    {{!-- <div class="form-div">
      <label for="birthday">Birthday date</label>
      <input name="birthday" id="birthday" type="date" placeholder="type something here..."> --}}
      {{!-- <input type="date" name="birthday-day" placeholder="DD-MM-YYYY" required pattern="\d{2}-\d{2}-\d{4}" />
    </div> --}}
    <div id="birthday">
      <div class="form-div">
        <span>
          <p>Birthday date</p>
          <label for="day"></label>
          <input name="birthdayDay" type="number" min="1" max="31" placeholder="day">
        </span>
        <span>
          <label for="month"></label>
          <input name="birthdayMonth" type="number" min="1" max="12" placeholder="month">
        </span>
        {{!-- <span>
          <label for="month"></label>
          <select id="month" name="birthdayMonth">
            <option selected>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </span> --}}
        <span>
          <label for="year"></label>
          <input name="birthdayYear" type="number" min="1900" max="2050" placeholder="year">
          </select>
        </span>
      </div>
    </div>

    <div class="form-div">
      <label for="birthdayMessage">Write your birthday message</label>
      <input name="birthdayMessage" id="birthdayMessage" type="text" placeholder="type something here...">
    </div>
    <div class="form-div">
      <label for="picture">Picture (optional)</label>
      <input name="picture" id="picture" type="file">
    </div>

    {{!-- <div>
      <label for="gift">Gift(s)</label>
      <select name="gift" id="gift"></select>
      <option value="-1">Choose a gift</option>
    </div> --}}
    <div>
      <select name="gifts" id="select-gifts" multiple>
        {{#each gifts}}
        <option value="{{this._id}}">{{this.name}}</option>
        {{!-- <div>
          <input type="checkbox" id="{{this.name}}" name="{{this.name}}" checked>
          <label for="{{this.name}}">{{this.name}}</label>
        </div> --}}
        {{/each}}
      </select>
    </div>
  <br>
    <button class="button" id="button">
      SAVE
    </button>
  </form>
</div>


</div>
{{!-- <hr><div>
  <p><b>Create a new gift!</b></p>
  <div class="form-div" id="create-gift-form">
    {{> gifts_create}}
  </div>
</div> --}}