<h1><img src="/public/img/blue-banner.jpg" alt="banner-all-birthdays">My birthdays</h1>

<div>
    <ul class="birthdays-list">
        {{#each birthdays}}
        <h5>{{this.friendName}} {{birthday.friendLastName}}</h5>
        <li>
            <p>
                <b>Birthday: {{this.birthdayDay}}/{{this.birthdayMonth}}</b> (DD-MM)
            </p>
        </li>
        <li>
            <form action="/birthday/details/{{this.id}}" method="GET">
                <input type="image" class="birthday-picture" src="{{this.picture}}" alt="friend ficture"></input>
            </form>
        </li>
        {{/each}}
    </ul>
</div>