<div class="banner-gifts-list">
    <img src="/img/blue-banner.jpg" alt="banner" id="banner">

    <div>
        <h1 class="title-gifts-list"> MY BIRTHDAYS</h1>
    </div>
</div>
<div class="welcome-message">
<div class="btn-wrapper" id="btnbirthdaylist">
    <div>
        <a href="/birthday/create"><button class="button">
            <div class="text-btn">Add birthday</div>
        </button></a>
    </div>
</div>

<div class="birthday-wrapper">
    <div class="birthdays-list">
        {{#each birthdays}}
        <div class="birthdays-content-container">
            <div>
                <p><b>{{this.birthdayDay}}/{{this.birthdayMonth}}</b></p>
            </div>
            <div>
                <form action="/birthday/details/{{this.id}}" method="GET">
                    <input type="image" class="birthday-picture" src="{{this.picture}}" alt="friend ficture"></input>
                </form>
            </div>
            <div>
                {{!-- <p><b>birthday: {{this.birthdayDay}}/{{this.birthdayMonth}} (dd-mm)</b></p> --}}
                <h5>{{this.friendName}} {{birthday.friendLastName}}</h5>
            </div>
        </div>
        {{/each}}
    </div>
</div>
</div>